@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;500;600&display=swap');

:root{
    --corheaderfooter: #181717;
    --corbody: #272525;
}

/*font-family: 'Bebas Neue', sans-serif;
    font-family: 'Open Sans', sans-serif;*/

body{
    background-color: var(--corbody);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    background-color: var(--corheaderfooter);
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header  > h1{
    padding: 50px;
    font: normal 35px 'Bebas Neue', sans-serif;
    color: white;
}

main{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-foto{
    width: 300px;
    height: 300px;
    background-color: #272525;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 50px 0px;
}

img{
    width: 250px;
    border-radius: 15px;
    transition: 0.5s;
}

img:hover{
    transform: scale(1.05);
}

.titulo-foto{
    padding: 10px 10px 0px 10px;
    color: white;
    font: bold 15px 'Open Sans', sans-serif;
    text-align: center;
}

.p-foto{
    padding: 5px 10px 0px 10px;
    color: white;
    text-align: center;
    font: lighter 13px 'Open Sans', sans-serif;
}

footer{
    font: bold 16px 'Open Sans', sans-serif;;
    background-color: var(--corheaderfooter);
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.a-footer{
    color: rgb(151, 148, 148);
}